<h1>Store</h1>
<p>Welcome to our product store</p>

<ul>
    {{#each products}}
        <li>
            <p><b>{{this.name}}</b>: {{this.description}}</p>
            <p><b>Price</b>: ${{this.price}}</p>
        </li>
    {{/each}}
</ul>